section {
    border: 1px solid black;
}

.img-one {
    grid-column: 1 / 5;
    grid-row: 3 / 10 ;
}

.p-one {
    grid-column: 5 / 13;
    grid-row: 3 / 10;
}

.p-two {
    grid-column: 1 / 8 ;
    grid-row: 11 / 18;
}

.img-two {
    grid-column: 8 / 13;
    grid-row: 11 / 18;
}

.img-three {
    grid-column: 1 / 13;
    grid-row: 19 / 26;
}

.p-three {
    grid-column: 1 / 7;
    grid-row: 27 / 35;
}

.p-four {
    grid-column: 7 / 13;
    grid-row: 27 / 35;
}