body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
img{

   width: 700px;
    max-height: 100%;
    border-radius: 20px 20px 20px 20px;
}
   

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    text-align: center;
    display: block;
    color: rgb(110, 104, 104);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    color: silver;
    font-size: larger;
    font-weight: bold;
  }
#container1 {
	display: grid;
	width: 89%;
	margin: 0 auto;
	min-height: 1200px;
	grid-auto-rows: 1fr;
	column-gap: 2%;
	row-gap: 20px;
	height: 40px;
	grid-template-columns: repeat(12, 1fr);
    
}
header,aside{
    font-family: cinzel;
}


main,
footer,
#bild1,
#bild2,#bild3 {

	border: 2px solid black;
	min-height: 10px;

}
header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 50px;
    border-bottom: 2px solid grey;
    
    
    margin: 0px;
	grid-column-start: 2;
	grid-column-end: 12;
	grid-row-start: 1;
	grid-row-end: 2;
}
aside{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    
    grid-column-start: 1;
	grid-column-end: 13;
	grid-row-start: 2;
	grid-row-end: 3;
}
main{
    height: 400px;
    width: 700px;
    justify-content: center;
    align-items: center;
    
    

        grid-column-start: 4;
        grid-column-end: 10;
        grid-row-start: 4;
        grid-row-end: 6;
    
}
#bild1{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 8;
        grid-row-end: 10;
        height: 300px;
    
}
#bild2{
    

        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 8;
        grid-row-end: 10;
    
}
#bild3{

    
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 8;
        grid-row-end: 10;
    
}
footer{
    
        height: 150px;
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 12;
        grid-row-end: 13;
    
}