/*body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}*/
section{
    font-family: cinzel;
    color: whitesmoke;
    align-items: start;
    justify-content: flex-start;
    padding: 30px;
    border-radius: 10px;
}
#bild1{
    
    background-image: url(../img/badrumbox1.jpg);
        background-size: cover;
        padding: 30px;
        transition: all 1s;

}
#bild2{
   

    background-image: url(../img/körförbox2.jpg);
    background-size: cover;
    padding: 30px;
    transition: all 1s;


}
#bild3{

    background-image: url(../img/vardagsrumbox3.jpg);
         background-size: cover;
         padding: 30px;
         transition: all 1s;

}
#bild1 #bild2 #bild3:hover{

    transform: scale(1,5);

}




main,.section
{

	border: 2px solid black;
	min-height: 10px;

}

main{
    border-radius: 10px;
    height: 400px;
    background-image: url(../img/Bildförslide1.jpg);
    background-size: cover;
    
    justify-content: center;
    align-items: center;
    
    

        grid-column-start: 3;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 6;
    
}
#bild1{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 9;
        grid-row-end: 11;
        height: 300px;
        

        display: flex;
        align-items: flex-start;
        justify-content: center;
    
        
    
}
#bild2{
    

        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 9;
        grid-row-end: 11;

        display: flex;
        align-items: flex-start;
        justify-content: center;
    
       
    
}
#bild3{

    
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 9;
        grid-row-end: 11;

        display: flex;
         align-items: flex-start;
         justify-content: center;
         

    
}
footer{
        
        

    
        height: 150px;
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 13;
        grid-row-end: 14;
    
}