
#main
{

	border: 2px solid black;
	min-height: 10px;

}

 #main{ 
    border-radius: 10px;
    height: 400px;
    
    background-size: cover;
    
    justify-content: center;
    align-items: center;
    
    

        grid-column-start: 3;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 6;
    
}
#container2{
        
        height: 250px;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 9;
        grid-row-end: 10;
        display: flex;
        justify-content: center;
        align-items: center;
       
           
}
#container3{
        
        height: 250px;
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 9;
        grid-row-end: 10;
        display: flex;
        justify-content: center;
        align-items: center;

       
        
}
#container4{
        
        height: 250px;
         grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 9;
        grid-row-end: 10;
        display: flex;
        justify-content: center;
        align-items: center;

   
}



#bild1{
   
    width: 90%;
    height: 90%;
    background-color: black; /* fallback color */
    background-image: url("../img/badrumbox1.jpg");
    background-position: center;
    background-size: cover;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    
  
   

}
#bild2{
   
    width: 90%;
    height: 90%;
    background-image: url(../img/körförbox2.jpg);
    background-size: cover;
    background-position: center;
   
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;

    

}
#bild3{

        width: 90%;
        height: 90%;
        background-image: url(../img/vardagsrumbox3.jpg);
         background-size: cover;
         transition: 1s;
         display: flex;
         align-items: center;
        justify-content: center;
         

}
#container2:hover #bild1,
#container3:hover #bild2,
#container4:hover #bild3,
#container2:focus #bild1 
#container3:focus #bild2
#container4:focus #bild3
    {
  transform: scale(1.05);
}
#bild1::before,#bild2::before,#bild3::before {
        content: "";
        display: none;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(100, 102, 103, 0.75);
        
      }
      
      #container2:hover #bild1:before,
      #container2:focus #bild1:before {
        display: block;
      }
      #container3:hover #bild2:before,
      #container3:focus #bild2:before {
        display: block;
      }
      #container4:hover #bild3:before,
      #container4:focus #bild3:before {
        display: block;
      }

  
.bildlänk{

        background-size: cover;
        color: white;
        font-family: "Cinzel";
        display: none;
        font-size: x-large;
        font-weight: bold;
        position: absolute;
      
       
}

        
       

#bild1:hover .bildlänk,
#bild1:focus .bildlänk {
  display: block;
}
#bild2:hover .bildlänk,
#bild2:focus .bildlänk {
  display: block;
}
#bild3:hover .bildlänk,
#bild3:focus .bildlänk{
  display: block;
}
footer{
        grid-row-start: 13;
        grid-row-end: 14;
}
  
  




