body {
    background: url(../img/12_col.gif) center top repeat-y;
    background-size: 90%;

}

/* .box1{
    display: grid;
    grid-column: 2 / 4;
    min-height: 200px;
    border: 1px black solid;
} */


