body {
    /* background: url(../img/12_col.gif) center top repeat-y; */
    background-size: 90%;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rajdhani:wght@300&display=swap');
}
/* -------större än 1200px-------- */
    [id^="box"]{
    min-height: 350px;
    border-radius: 2%;
    background-repeat: no-repeat;
    background-size: cover;    
}
[id^="box"]{
    position: relative;
    overflow: hidden;
}
[id^="box"] > .img-title{
    position: absolute;
    background: rgba(255, 255, 255, .4);
    transition: 200ms ease-in-out;
}
[id^="box"] > .img-title.fade{
    opacity: 0}

[id^="box"]:hover >.img-title.fade{
    opacity: 1;}

    .img-title{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items:center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(10, 10, 9);
        text-shadow: 0 1px 0 rgb(0, 0, 0); 
        font-weight: normal;   
    }
    h3{
        font-weight: normal;
        font-size: 2rem;
    }

/* ----------- BOXES ---------- */
 #box1{
    grid-column: 2 / 7;
    background-image: url("../img/kök1.jpeg");   
} 
#box2{
    grid-column: 7 / 12;
    grid-row: 3 / 4;
    background-image: url("../img/kök2.jpeg");  
}
#box3{
    grid-column: 2 / 12;
    min-height: 450px;
    background-image: url("../img/kök3.jpeg");
    background-position: center;
}
#box4{
    grid-column: 2 / 7;
    background-image: url("../img/kök4.webp");
}
#box5{
    grid-column: 7 / 12;
    background-image: url("../img/kök5.jpeg");   
}


/* ------Texter-------- */
#text1,#text2,#text3,#text4,#text5{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    line-height: 1.6;
}
#text1{
    grid-column: 2 / 7;    
}
#text2{
    grid-column: 7/ 12;
}
#text3{
    grid-column: 5 / 9;      
}
#text4{
    grid-column: 2/ 7;  
}
#text5{
    grid-column: 7/ 12;
}
@media only screen and (max-width: 1200px){
    #box1,#box2,#box4,#box5{
        min-height: 300px;
    }

    #box3{
        min-height: 400px ;
    }
}

@media only screen and (max-width: 960px){

    #box1{
       grid-column: 2 / 7; 
    } 
    #box2{
        grid-column: 7 / 12;
    }
    #text1{
        grid-column: 2 / 7;
         text-align: center; 
    }
    #text2{
        grid-column: 7/ 12;
        /* grid-row: 5 / 6; */
    }
    #box4{
        grid-column: 2 / 7; 
    }
    #box5{
        grid-column: 7 / 12;
    }

    #text4{
        grid-column: 2/ 7;  
    }
    
    #text5{
        grid-column: 7/ 12;
    }

    #text3{
        grid-column: 5 / 9;   
        grid-row: 8 / 9;
    }

    #box3{
        grid-column: 2 / 12;
        grid-row: 7 / 8;
    }
    
 }

 @media only screen and (max-width: 768px){
#box1{
    grid-column: 1 / 13;
    grid-row: 3 / 4;
}
#text1{
    grid-column: 1 / 13 ;
    grid-row: 4 / 5;
}
#box2{
    grid-column: 1 / 13;
    grid-row: 5 / 6;
}
#text2{
    grid-column: 1 / 13 ;
}
#box3{
    grid-column: 1 / 13;
}
#text3{
    grid-column: 1 / 13 ;
}
#box4{
    grid-column: 1 / 13;
}
#text4{
    grid-column: 1 / 13 ;
    grid-row: 10 / 11;
}
#box5{
    grid-column: 1 / 13;
}
#text5{
    grid-column: 1 / 13 ;

}

header{
    font-size: 30px;
}
nav{
    font-size: 15px;
}

}

@media only screen and (max-width: 432px){
    header{
        font-size: 20px;
    }
    nav{
        font-size: 10px;
    }
}